:root {
  font-family: "Adobe Clean", sans-serif;
}
input,
textarea,
button {
  font-family: inherit;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  font-size: 10px;
  padding: 0.5rem;
}
.App {
  border-radius: 15px;
  border: 1px solid black;
  height: fit-content;
  padding: 1rem;
}
.header {
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.TagContainer {
  margin-top: 2.5rem;
  display: flex;
}
.Tag {
  display: flex;
  align-items: center;
  border-radius: 7.5px;
  padding: 0.25rem 1rem;
  width: fit-content;
  margin-right: 0.5rem;
  &:hover,&:active {
    background-color: #faf9f8;
  }
}
.TagColor {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.TodoItem {
  margin-top: 2.5rem;
  padding: 1.5rem 2rem;
  background-color: #fff9de;
  border-radius: 1rem;
  .TitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    .Title {
      font-size: 1.5rem;
    }
    .MeatballMenu {
      position: relative;
      cursor: pointer;
      .DropdownMenu {
        position: absolute;
        right: 0;
        top: 0.5rem;
        background: white;
        min-width: 10rem;
        border-radius: 1rem;
        list-style: none;
        z-index: 1;
        padding: 0;
        .DropdownMenuItem {
          padding: 1rem;
          &:not(:last-of-type) {
            border-bottom: 1px solid #eeee;
            border-radius: 1rem 1rem 0 0;
          }
          &:last-child {
            border-radius: 0 0 1rem 1rem;
          }
          &:hover {
            background-color: rgba(230, 230, 230, 0.5);
          }
        }
      }
    }
  }
  .DetailContainer {
    padding-right: 0.5rem;
    letter-spacing: 0.05rem;
  }
  .FooterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .TagContainer {
      margin-top: 0;
    }
    /* Customize the label (the container) */
    .StatusContainer {
      display: block;
      position: relative;
      padding-right: 2.5rem;
      cursor: pointer;
      font-size: 1rem;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      & span:first-child {
        vertical-align: middle;
      }
    }

    /* Hide the browser's default checkbox */
    .StatusContainer input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      right: 0;
      height: 1.5rem;
      width: 1.5rem;
      background-color: transparent;
      border: 1px solid black;
      border-radius: 0.5rem;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .StatusContainer input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .StatusContainer .checkmark:after {
      left: 3px;
      top: 0px;
      width: 5px;
      height: 10px;
      border: solid black;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.NewListContainer {
  margin-top: 2.5rem;
  .TopNewList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ButtonAdd {
      color: white;
      border-radius: 1rem;
      background-color: gray;
      border: none;
      padding: 1rem 3.5rem;
    }
  }
  .FormContainer {
    .Input {
      margin-bottom: 3rem;
    }
    .InputLabel {
      font-size: 2rem;
      font-weight: bolder;
    }
    .InputText {
      display: block;
      border: none;
      background-color: lightgray;
      border-radius: 0.5rem;
      font-size: 2rem;
      padding: 1rem 1.5rem;
      width: 100%;
      margin-top: 1rem;
    }
    .TagContainer{
      display: flex;
      flex-direction: column;
      max-height: 15rem;
      overflow: scroll;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem 0;
      margin-bottom: 3rem;
    }
  }
  .ButtonAdd{
    cursor: pointer;
  }
}
